extends layout

block content
  br
  .container
    .jumbotron
      h1= title
      p Welcome to #{title}. Here you will be able to work with your friends database.
      p To work with the operations, please use the <em>Friends CRUD</em> dropdown
